.advantages {
  background-color: @whitesmoke-color;
  text-align: center;

  &__list {
    list-style: none;
  }

  &__title {
    color: @black-color;
    font-size: 18px;
    font-weight: 700;
  }

  &__description {
    color: @blue-color;
    font-size: 14px;
  }

  &__phone {
    display: block;
    margin: 0 auto;
  }
}
