.application {
  background-image: url("../img/bg-back-tablet@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 19px;
  min-height: 665px;
}

.application--index {
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: auto, cover;
  background-position: 2% 110px, 50% 50%;
  min-width: 320px;

  @media screen and (min-width: @tablet-width) {
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-position: calc(50% + 10px) 100%, 50% 50%;
  }

  @media screen and (min-width: @desktop-width) {
    background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
    background-position: calc(50% + 100px) calc(50% + 48px), 50% 50%;
    min-height: 745px;
    padding-right: 200px;
  }
}


.application__wrapper {
  margin-top: 312px;
  background-color: @darkblue;
  padding: 21px;
  padding-bottom: 20px;

  @media screen and (min-width: @tablet-width) {
    max-width: 660px;
    margin: 0 auto;
    padding-bottom: 100px;
    padding-right: 340px;
    background-color: transparent;
  }

  @media screen and (min-width: @desktop-width) {
    max-width: 1000px;
    margin: 0 auto;
  }
}

.application__title {
  color: @white-color;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 45px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;

  @media screen and (min-width: @tablet-width) {
    max-width: 550px;
    padding-right: 340px;
    font-size: 40px;
  }
}

.form-title {
  @media screen and (min-width: @tablet-width) {
    font-size: 50px;
    padding: 80px 0;
  }
}

.application__button {
  display: block;
  border: 3px solid @white-color;
  font-size: 18px;
  color: @white-color;
  padding: 15px 28px;
  border-radius: 100px;
  text-align: center;
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: 32px;
  width: 278px;
  margin-top: 2px;

  &:hover {
    color: @color-darkpink;
    box-shadow: 0 5px 7px rgba(1, 1, 1, 0.75);
    background-color: @white-color;
  }

  &:active {
    color: @beautybush-color;
  }

  @media screen and (min-width: @tablet-width) {
    font-size: 18px;
    padding-top: 25px;
  }

  @media screen and (min-width: @desktop-width) {
    font-size: 21px;
    width: 315px;
  }
}

.application__subtitle {
  font-size: 14px;
  color: @white-color;
  max-width: 320px;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 11px;

  @media screen and (min-width: @tablet-width) {
    font-size: 18px;
  }

  @media screen and (min-width: @desktop-width) {
    font-size: 21px;
    margin-top: 60px;
  }
}

.application__icon-list {
  max-width: @mobile-width;
  margin: 0 auto;
}
