.application {
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
  min-width: 320px;
  min-height: 462px;
}

.application__title {
  color: @white-color;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 33px;
}

.application__button {
  border: 3px solid @white-color;
  font-size: 21px;
  color: @white-color;
  padding: 20px 39px 17px 40px;
  border-radius: 100px;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 32px;
  font-weight: 700;

  &:hover {
    color: @color-darkpink;
    box-shadow: 0 5px 7px rgba(1, 1, 1, 0.75);
    background-color: @white-color;
  }

  &:active {
    color: @beautybush-color;
  }
}

.application__subtitle {
  font-size: 14px;
  color: @white-color;
  margin-left: 45px;
  margin-top: 28px;
}

.application__image {
  background-repeat: no-repeat;
  display: block;
  margin-top: 33px;
  margin-bottom: 25px;
}
