.checkbox-achievement__text {
  position: relative;
  padding-left: 46px;

  @media screen and (min-width: @tablet-width) {
    margin-left: -9px;
  }
}

.checkbox-achievement {
  padding-left: 1.2em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox-achievement__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox-achievement__box {
  position: absolute;
  margin-left: -1.2em;
  width: 37px;
  height: 38px;
  background-image: url("../img/checkbox-off.svg");
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.checkbox-achievement__input:checked + .checkbox-achievement__box {
  background-image: url("data:image/svg+xml,%3Csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' fill='%23d22856' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='21.698px' height='16.09px' viewBox='-82.357 4.875 21.698 16.09' enable-background='new -82.357 4.875 21.698 16.09' xml:space='preserve'%3E%3Cpath d='M-60.953,5.167c-0.391-0.391-1.023-0.391-1.414,0L-75.75,18.551l-4.9-4.9c-0.391-0.391-1.023-0.391-1.414,0 s-0.391,1.023,0,1.414l5.607,5.607c0.195,0.195,0.451,0.293,0.707,0.293s0.512-0.098,0.707-0.293l14.09-14.0 C-60.562,6.191-60.562,5.558-60.953,5.167z'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
