.comment-user {
  background-color: #f2f2f2;
  padding-left: 18px;
  padding-right: 2px;
  width: 88%;
  min-height: 121px;

  &--best {
    width: 88%;
    min-height: 192px;
  }

  @media screen and (min-width: @tablet-width) {
    padding-right: 18px;
    display: flex;
    flex-direction: column;
    min-height: 155px;
    width: 100%;

    &--best {
      width: 94%;
      min-height: 120px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  @media screen and (min-width: @desktop-width) {
    &--best {
      min-height: 95px;
    }
  }
}

.comment-user--best p:nth-child(1) {
  @media screen and (min-width: @tablet-width) {
    order: 0;
    height: 10px;
    padding-top: 26px;
    padding-left: 10px;
  }

  @media screen and (min-width: @desktop-width) {
    padding-top: 24px;
  }
}

.comment-user--best p:nth-child(2) {
  @media screen and (min-width: @tablet-width) {
    order: 10;
    margin-top: -6px;
    margin-left: 0;
  }
}

.comment-user--best p:nth-child(3) {
  @media screen and (min-width: @tablet-width) {
    order: 6;
    height: 10px;
    margin-top: 8px;
    margin-bottom: -11px;
  }

  @media screen and (min-width: @desktop-width) {
    margin-top: 23px;
  }
}

.comment-user__name {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  color: @blue-color;
  font-family: "Open Sans", "Arial", sans-serif;
  padding-top: 19px;
  margin-top: 0;

  @media screen and (min-width: @tablet-width) {
    padding-top: 27px;
    padding-left: 9px;
  }

  @media screen and (min-width: @desktop-width) {
    padding-top: 26px;
  }
}

.comment-user__time {
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.comment-user__text {
  color: @blue-color;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: -10px;
  line-height: 24px;

  @media screen and (min-width: @tablet-width) {
    width: 92%;
    padding-left: 9px;
    margin-top: -11px;
  }

  @media screen and (min-width: @desktop-width) {
    width: 100%;
  }
}

.comment-user__like {
  font-size: 12px;
  text-transform: uppercase;
  color: @color-darkpink;
  padding-bottom: 22px;
  padding-left: 1px;
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    background-image: url("../../img/icon-heart.svg");
    background-repeat: no-repeat;
    content: "";
    width: 13px;
    height: 12px;
    margin-right: 18px;

    @media screen and (min-width: @tablet-width) {
      order: 2;
      margin-left: 17px;
      margin-right: 14px;
    }
  }

  @media screen and (min-width: @tablet-width) {
    padding-left: 9px;
    padding-bottom: 13px;
    margin-top: auto;
    justify-content: space-between;
  }

  @media screen and (min-width: @desktop-width) {
    padding-top: 6px;
    padding-bottom: 15px;
  }

  &--best {
    display: flex;

    &::before {
      @media screen and (min-width: @tablet-width) {
        top: 17px;
        left: 138px;
        margin-right: -48px;
        margin-left: 17px;
      }

      @media screen and (min-width: @desktop-width) {
        top: 12px;
      }
    }

    @media screen and (min-width: @tablet-width) {
      padding-top: 29px;
      padding-right: 59px;
      padding-left: 30px;
      margin-top: auto;
    }

    @media screen and (min-width: @desktop-width) {
      padding-top: 11px;
      padding-right: 62px;
      padding-left: 31px;
    }
  }
}
