.contacts-item {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 23px;
  position: relative;

  &--number {
    &::after {
      @media screen and (min-width: @tablet-width) {
        position: absolute;
        content: "";
        width: 62px;
        height: 60px;
        background-image: url("../img/icon-phone.svg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-color: #e5e5e5;
        top: 2px;
        right: 0;
        text-align: center;
      }

      @media screen and (min-width: @desktop-width) {
        width: 60px;
      }
    }

    @media screen and (min-width: @tablet-width) {
      margin-bottom: 21px;
    }

    @media screen and (min-width: @desktop-width) {
      margin-left: 44px;
    }
  }

  &--mail {
    &::after {
      @media screen and (min-width: @tablet-width) {
        position: absolute;
        content: "";
        width: 62px;
        height: 60px;
        background-image: url("../img/icon-mail.svg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-color: #e5e5e5;
        top: 2px;
        right: 0;
        text-align: center;
      }

      @media screen and (min-width: @desktop-width) {
        width: 60px;
        background-position: 51% 45%;
      }
    }

    @media screen and (min-width: @desktop-width) {
      margin-left: 26px;
    }
  }
}

.contacts-item__title {
  color: #d22856;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 22px;
  padding-bottom: 14px;

  @media screen and (min-width: @tablet-width) {
    order: 3;
    margin-top: 15px;
    padding-left: 20px;
  }
}

.contacts-item__text {
  font-family: inherit;
  color: #283645;
  font-size: 18px;
  font-weight: 400;
  width: 279px;
  height: 59px;
  border: 2px solid #e5e5e5;
  padding-left: 19px;
  position: relative;

  @media screen and (min-width: @tablet-width) {
    width: 500px;
    height: 64px;
    padding-left: 18px;
    order: 1;
  }

  @media screen and (min-width: @desktop-width) {
    width: 372px;
    padding-top: 16px;
    padding-bottom: 18px;
  }
}
