.contacts-item {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 28px;

  @media screen and (min-width: @tablet-width) {
    margin-bottom: 10px;
  }
}

.contacts-item__title {
  color: #d22856;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 20px;
  padding-bottom: 15px;

  @media screen and (min-width: @tablet-width) {
    order: 3;
    margin-top: 21px;
  }
}

.contacts-item__text {
  color: #283645;
  font-size: 18px;
  font-weight: 400;
  width: 276px;
  height: 59px;
  border: 2px solid #e5e5e5;
  padding-left: 22px;

  @media screen and (min-width: @tablet-width) {
    width: 496px;
    padding-left: 20px;
    order: 1;
  }
}
