.contacts {
  &__question {
    font-size: 24px;
    color: @blue-color;
  }

  &__title-phone {
    font-size: 18px;
  }

  &__phone {
    color: @color-darkpink;
    font-size: 24px;
  }

  &__mail {
    color: @color-darkpink;
    font-size: 24px;
  }

  &__address {
    color: @color-darkpink;
    font-size: 24px;
  }
}
