.contacts {
  font-size: 24px;
}

.contacts__question {
  color: @blue-color;
}

.contacts__title-phone {
  font-size: 18px;
}

.contacts__phone {
  color: @color-darkpink;
}

.contacts__title-mail {
  font-size: 18px;
}

.contacts__mail {
  color: @color-darkpink;
}

.contacts__title-address {
  font-size: 18px;
}

.contacts__address-mobile {
  color: @color-darkpink;
}
