.copyright {
  display: flex;
  flex-direction: row;
  margin-top: 28px;
  padding-bottom: 40px;

  @media screen and (min-width: @tablet-width) {
    margin-top: 5px;
    margin-right: -13px;
    padding-bottom: 0;
  }
}

.copyright__text {
  font-size: 14px;
  color: @blue-color;
  margin-right: 15px;
  margin-top: 5px;
  font-weight: 400;

  @media screen and (min-width: @desktop-width) {
    font-size: 18px;
    margin-top: 3px;
  }
}

.copyright__link {
  background-image: url("../img/logo-htmlacademy.svg");
  display: inline-block;
  width: 27px;
  height: 34px;
}
