.copyright {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.copyright__text {
  font-size: 14px;
  color: @blue-color;
  margin-right: 15px;
  margin-top: 5px;
}

.copyright__link {
  background-image: url("../img/logo-htmlacademy.svg");
  display: inline-block;
  width: 27px;
  height: 34px;
}
