.form-title {
  @media screen and (min-width: @tablet-width) {
    font-size: 50px;
    padding: 16px 0;
    padding-bottom: 80px;
    line-height: 60px;
  }

  @media screen and (min-width: @desktop-width) {
    padding: 10px 0;
    padding-bottom: 98px;
  }

  &--photo {
    @media screen and (min-width: @tablet-width) {
      min-height: 275px;
    }
  }
}
