.main-nav {
  background-color: @blue-color;

  @media screen and (min-width: 1000px) {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
  width: 320px;
  margin: 0 auto;
  padding: 22px 20px;

  @media screen and (min-width: 660px) {
    width: 660px;
  }

  @media screen and (min-width: 1000px) {
    width: auto;
    margin: 0;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: @white-color;
}

.main-nav__button {
  @media screen and (min-width: 1000px) {
    display: none;
  }
}
