.main-nav {
  background-color: @blue-color;

  @media screen and (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
  width: 320px;
  margin: 0 auto;
  padding: 20px 20px;

  @media screen and (min-width: @tablet-width) {
    width: @tablet-width;
    padding: 32px 20px;
  }

  @media screen and (min-width: @desktop-width) {
    width: auto;
    padding: 22px 20px;
    margin: 0;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: @white-color;

  @media screen and (min-width: @desktop-width) {
    width: 660px;
    display: flex;
    justify-content: space-between;
    padding-top: 21px;
  }
}

.main-nav__button {
  background-image: url("../../img/icon-menu-burger.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 29px;
  padding: 0;
  margin: 0;

  @media screen and (min-width: @tablet-width) {
    margin-top: 6px;
  }

  @media screen and (min-width: @desktop-width) {
    display: none;
  }
}
