.main-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-nav__wrapper {
  text-transform: uppercase;
  font-size: 18px;
  background-color: @blue-color;
}

.main-nav__list {
  list-style: none;
  color: @white-color;
}

.site-list {
  box-shadow: 0 1px 0 @black-color;

  &:hover {
    color: @color-darkpink;
  }
}

.site-list__item {
  padding: 26px 88px 24px 89px;
  text-align: center;
  box-shadow: 0 1px 0 @black-color, inset 0 1px 0 rgba(255, 255, 255, 0.15);

  &--active {
    color: @white-color;
    border-bottom: 1px solid @white-color;
  }
}
