.offer__question {
  color: @blue-color;
  font-size: 24px;
  margin-bottom: 42px;
  text-align: center;
  padding-top: 46px;
}

.offer__exclamation {
  color: @blue-color;
  font-size: 24px;
  text-align: center;
}
