.offer {
  background-color: #ffffff;
  padding-bottom: 50px; /* Значение для сетки */
  padding-top: 50px;  /* Значение для сетки */
}

.offer__question {
  color: @blue-color;
  margin: 0 auto;
  font-size: 24px;
  text-align: center;
}

.offer__exclamation {
  color: @blue-color;
  font-size: 24px;
  text-align: center;
}
