.options-list__title {
  color: #283645;
  font-size: 14px;
  font-weight: 400;
  border: 2px solid #e5e5e5;
  text-align: left;
  padding-left: 22px;

  @media screen and (min-width: 660px) {
    padding-left: 15px;
  }

  @media screen and (min-width: 1000px) {
    font-size: 18px;
    padding-left: 24px;
  }
}

.options-list__item {
  height: 50px;
  border: 2px solid #e5e5e5;
}
