.os-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-top: 28px;
  padding: 0;
  width: 237px;
}

.os-list__app {
  background-repeat: no-repeat;
  width: 47px;
  height: 56px;
  display: block;
  background-position: 50% 50%;

  &--apple {
    background-image: url("../img/logo-apple.svg");
  }

  &--android {
    background-image: url("../img/logo-android.svg");
  }

  &--windows {
    background-image: url("../img/logo-microsoft.svg");
  }
}
