.page-header {
  background-color: @blue-color;
}

.page-header__logo-image {
  display: block;

  @media screen and (min-width: @tablet-width) {
    height: 39px;
  }

  @media screen and (min-width: @desktop-width) {
    height: 65px;
  }
}

.page-header__nav {
  @media screen and (min-width: @desktop-width) {
    max-width: 980px;
    margin: 0 auto;
  }
}
