.page-footer__wrapper {
  min-height: 130px;
  padding-bottom: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;

  @media screen and (min-width: 660px) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  &--index {
    @media screen and (min-width: 320px) {
      display: none;
    }

    @media screen and (min-width: 660px) {
      display: flex;
      justify-content: space-around;
      min-height: 130px;
      align-items: center;
    }
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 10px;
}

// Блок social
.social__list {
  min-width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  padding-top: 15px;

  @media screen and (min-width: 660px) {
    display: flex;
    padding: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

// Блок copyright
.copyright {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.copyright__text {
  margin-right: 15px;
  margin-top: 5px;
}
