.photo-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  position: relative;

  @media screen and (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 660px;
    padding-right: 0;
    padding-left: 0;
  }

  @media screen and (min-width: @desktop-width) {
    justify-content: center;
    padding-right: 0;
    padding-left: 0;
    max-width: 1260px;
  }
}

.photo-list__user {
  width: 88%;
  margin: 0 auto;
  display: flex;
  vertical-align: middle;
  text-shadow: none;
  color: transparent;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  @media screen and (min-width: @tablet-width) {
    width: 100%;
    height: 300px;
  }

  @media screen and (min-width: @desktop-width) {
    height: 400px;
  }

  &--best {
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: @tablet-width) {
      margin-top: 8px;
      min-height: 509px;
    }

    @media screen and (min-width: @desktop-width) {
      margin-top: 19px;
    }
  }
}

.photo-list__item {
  margin: 0 auto;
  width: 100%;

  @media screen and (min-width: @tablet-width) {
    width: 300px;
    margin-left: 21px;
    margin-right: -2px;
  }

  @media screen and (min-width: @desktop-width) {
    width: 300px;
    padding: 0;
    margin-right: 10px;
    margin-left: 10px;
  }

  &--best {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    position: relative;

    @media screen and (min-width: @tablet-width) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: @desktop-width) {
      margin-bottom: 0;
    }

    &::before {
      width: 140px;
      height: 36px;
      background-color: #d22856;
      position: absolute;
      content: "ПАНОРАМА ДНЯ";
      color: #ffffff;
      font-size: 12px;
      font-weight: 700;
      right: 21px;
      padding-top: 9px;
      padding-left: 20px;

      @media screen and (min-width: @tablet-width) {
        top: 66px;
      }

      @media screen and (min-width: @desktop-width) {
        top: 74px;
        right: 160px;
      }
    }
  }
}

.photo-list__comment {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 21px;

  @media screen and (min-width: @tablet-width) {
    max-width: 630px;
  }

  @media screen and (min-width: @desktop-width) {
    max-width: 940px;
    margin-bottom: 51px;
  }
}
