.positive-effect {
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 50px;
  display: none;

  @media screen and (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-top: 55px;
    padding-bottom: 55px;
    min-width: 660px;
  }

  @media screen and (min-width: @desktop-width) {
    min-width: 1000px;
    padding-top: 4px;
    padding-bottom: 116px;
    background-color: @whitesmoke-color;
  }
}

.positive-effect__title {
  font-size: 30px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 26px;
  width: 170px;

  @media screen and (min-width: @tablet-width) {
    margin-top: 38px;
    line-height: 37px;
    margin-left: 29px;
  }

  @media screen and (min-width: @desktop-width) {
    min-width: 350px;
    margin-left: 27px;
  }
}

.positive-effect__title br {
  @media screen and (min-width: @desktop-width) {
    display: none;
  }
}

.positive-effect__text {
  font-size: 14px;
  color: #283645;
  margin-left: 29px;
  margin-top: -16px;
  line-height: 23px;
  width: 300px;

  @media screen and (min-width: @desktop-width) {
    font-size: 18px;
    width: 580px;
    margin-left: 27px;
    margin-top: -3px;
    line-height: 29px;
  }
}

.positive-effect__info {
  color: #d22856;
  line-height: 24px;
  text-decoration: underline;
  font-size: 14px;
  margin-left: 29px;
  margin-top: 13px;

  @media screen and (min-width: @desktop-width) {
    font-size: 18px;
    font-weight: 400;
    margin-left: 26px;
    margin-top: 35px;
  }
}

.possitive-effect__box {
  position: relative;

  @media screen and (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    width: 400px;
  }

  @media screen and (min-width: @desktop-width) {
    min-width: 560px;
    min-height: 276px;
    padding-right: 50px;
    padding-top: 50px;
  }

  &::before {
    @media screen and (min-width: @tablet-width) {
      position: absolute;
      display: block;
      height: 276px;
      background-color: black;
      width: 243px;
      left: -281px;
      content: "";
    }

    @media screen and (min-width: @desktop-width) {
      left: -345px;
      bottom: -21%;
      height: 353px;
      width: 310px;
    }
  }
}
