.post-button {
  border-radius: 100px;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  width: 280px;
  margin-bottom: 12px;

  @media screen and (min-width: @tablet-width) {
    width: 260px;
    padding-top: 68px;
    padding-left: 27px;
  }

  @media screen and (min-width: @desktop-width) {
    width: 410px;
    padding-top: 145px;
    padding-left: 0;
    margin-left: -8px;
  }

  &--post {
    font-size: 18px;
    font-weight: 700;
    color: @color-darkpink;
    border: 3px solid @color-darkpink;
    padding-top: 13px;
    padding-bottom: 14px;
    font-family: inherit;
    text-align: center;

    @media screen and (min-width: @tablet-width) {
      margin-bottom: 23px;
      padding-top: 12px;
      padding-left: 0;
    }

    @media screen and (min-width: @desktop-width) {
      width: 183px;
      margin-right: 50px;
      padding-top: 13px;
      padding-left: 9px;
    }

    &:hover {
      color: @white-color;
      background-color: @color-darkpink;
    }

    &:active {
      color: @blush-color;
    }
  }

  &--cancel {
    font-size: 18px;
    font-weight: 700;
    opacity: 0.1;
    color: @blue-color;
    padding-top: 13px;
    padding-bottom: 12px;
    border: 3px solid @blue-color;

    @media screen and (min-width: @tablet-width) {
      padding-left: 0;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    @media screen and (min-width: @desktop-width) {
      height: 55px;
      width: 183px;
      padding-left: 15px;
    }

    &:hover {
      border: 3px solid @blue-color;
      opacity: 0.3;
    }

    &:active {
      color: #c8ccce;
      border: 3px solid @blue-color;
      background-color: @blue-color;
    }
  }
}
