.programm-user {
  background-color: #f2f2f2;
}

.programm-user__title {
  color: @color-darkpink;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  max-width: 220px;
  margin: 0 auto;
  padding-top: 44px;
}

.programm-user__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin: 0 auto;
  padding-bottom: 44px;
}

.programm-user__list li {
  margin-top: 39px;
}

.programm-user__item {
  color: @blue-color;
  font-size: 18px;
}
