.programm-user {
  background-color: #f2f2f2;
  order: 3;

  @media screen and (min-width: @tablet-width) {
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 35px;
    width: 620px;
    order: 1;
  }

  @media screen and (min-width: @desktop-width) {
    width: 435px;
    margin-top: -10px;
    margin-bottom: 30px;
  }
}

.programm-user fieldset {
  border: 2px solid #e5e5e5;
}

.programm-user__title {
  color: @color-darkpink;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  width: 220px;
  margin: 0 auto;
  padding-top: 37px;

  @media screen and (min-width: @tablet-width) {
    width: 400px;
    padding-top: 0;
    padding-left: 18px;
    padding-right: 18px;
  }
}

.programm-user__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 260px;
  margin: 0 auto;
  padding-bottom: 27px;

  @media screen and (min-width: @tablet-width) {
    margin: 0;
    margin-left: 53px;
    margin-top: 8px;
    margin-bottom: 14px;
  }

  @media screen and (min-width: @desktop-width) {
    margin-top: 13px;
    margin-left: 69px;
  }
}

.programm-user__list li {
  margin-top: 37px;
  margin-bottom: 13px;
}

.programm-user__item {
  color: @blue-color;
  font-size: 18px;
}
