.reviews__list {
  margin: 0 auto;
  text-align: center;
  padding-top: 49px;
  padding-bottom: 42px;
}

.reviews__wrapper {
  margin-bottom: 50px;
}

.reviews__text {
  font-size: 14px;
  color: @blue-color;
  margin: 0 auto;
  margin-top: 25px;

  @media screen and (min-width: @tablet-width) {
    font-size: 18px;
    width: 618px;
  }

  @media screen and (min-width: @desktop-width) {
    width: 690px;
  }
}
