.reviews__list {
  text-align: center;
  padding-top: 33px;
  padding-bottom: 14px;
  margin: 0 auto;
}

.reviews__wrapper {
  margin-bottom: 50px;
}

.reviews__text {
  font-size: 14px;
  color: @blue-color;
  line-height: 30px;
  padding-top: 16px;
  width: 300px;

  @media screen and (min-width: @tablet-width) {
    font-size: 18px;
    width: 618px;
    order: 1;
  }

  @media screen and (min-width: @desktop-width) {
    width: 690px;
  }
}

.reviews__item {
  display: flex;
  flex-direction: column;
}
