.tariff {
  text-transform: uppercase;
  background-color: @whitesmoke-color;
}

.tariff__name {
  color: @white-color;
  border: 2px solid @blue-color;
  background-color: @blue-color;
  font-size: 18px;
}

.tariff__price {
  font-size: 24px;
  background-color: @blue-color;
  color: @white-color;
}

.tariff__functional {
  list-style: none;
  font-size: 14px;
  font-weight: 400;
}
