.tariff {
  background-color: #f2f2f2;
  padding-top: 63px;
  padding-bottom: 42px;

  @media screen and (min-width: @tablet-width) {
    padding-top: 35px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: @desktop-width) {
    padding-top: 69px;
    padding-bottom: 51px;
  }
}

.tariff__wrapper {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
