.user-achievements {
  background-color: #f2f2f2;
  order: 1;
  margin-bottom: 35px;

  @media screen and (min-width: @tablet-width) {
    background-color: #ffffff;
    width: 620px;
    margin: 0 auto;
    margin-top: -6px;
    margin-bottom: 0;
    order: 4;
  }

  @media screen and (min-width: @desktop-width) {
    width: 940px;
  }
}

.user-achievements li:nth-child(1) {
  @media screen and (min-width: @desktop-width) {
    order: 0;
  }
}

.user-achievements li:nth-child(2) {
  @media screen and (min-width: @desktop-width) {
    order: 4;
  }
}

.user-achievements li:nth-child(3) {
  @media screen and (min-width: @desktop-width) {
    order: 2;
    margin-left: 16px;
  }
}

.user-achievements li:nth-child(4) {
  @media screen and (min-width: @desktop-width) {
    order: 4;
    margin-left: 16px;
  }
}

.user-achievements li:nth-child(5) {
  @media screen and (min-width: @desktop-width) {
    order: 3;
  }
}

.user-achievements li:nth-child(6) {
  @media screen and (min-width: @desktop-width) {
    order: 5;
  }
}

.user-achievements fieldset {
  margin-bottom: -13px;
  border: 2px solid #e5e5e5;

  @media screen and (min-width: @desktop-width) {
    padding-bottom: 13px;
  }
}

.user-achievements__title {
  color: @color-darkpink;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  width: 240px;
  margin: 0 auto;
  padding-top: 37px;
  padding-bottom: 42px;

  @media screen and (min-width: @tablet-width) {
    width: 436px;
    padding: 0;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.user-achievements__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 265px;
  margin-top: -9px;

  @media screen and (min-width: @tablet-width) {
    margin: 0;
    margin-top: 39px;
    margin-left: 51px;
    margin-bottom: -8px;
    width: auto;
  }

  @media screen and (min-width: @desktop-width) {
    width: 100%;
    margin: 0 auto;
    margin-top: 42px;
    margin-left: 50px;
    margin-bottom: -4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.user-achievements__list li {
  padding-bottom: 53px;
  margin-left: -6px;
  margin-top: 5px;

  @media screen and (min-width: @tablet-width) {
    padding-bottom: 53px;
  }

  @media screen and (min-width: @desktop-width) {
    padding-right: 1px;
    margin-right: 5px;
  }
}

.user-achievements__item {
  color: @blue-color;
  font-size: 18px;

  @media screen and (min-width: @desktop-width) {
    width: 296px;
  }
}
