.user-achievements {
  background-color: #f2f2f2;
}

.user-achievements__title {
  color: @color-darkpink;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  max-width: 220px;
  margin: 0 auto;
  padding-top: 44px;
  padding-bottom: 42px;
}

.user-achievements__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 265px;
}

.user-achievements__list li {
  padding-bottom: 47px;
}

.user-achievements__item {
  color: @blue-color;
  font-size: 18px;
}
