.user-fullname {
  order: 0;

  @media screen and (min-width: @tablet-width) {
    margin: 0 auto;
  }

  @media screen and (min-width: @desktop-width) {
    margin-right: 40px;
  }
}

.user-fullname__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  @media screen and (min-width: @tablet-width) {
    width: 620px;
    margin: 0 auto;
  }

  @media screen and (min-width: @desktop-width) {
    width: 435px;
  }
}
