.user-achievements__title {
  color: @color-darkpink;
  font-size: 14px;
  text-transform: uppercase;
}

.user-achievements__list {
  list-style: none;
}

.user-achievements__item {
  color: @blue-color;
  font-size: 18px;
}
