.user-data__button-form {
  color: @white-color;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid @junglegreen-color;
  background-color: @junglegreen-color;
  padding: 23px 56px 22px 55px;

  &:hover {
    border: 2px solid @green-color;
    background-color: @green-color;
  }

  &:active {
    color: @silvertree-color;
  }
}
