.user-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  margin: 0 auto;
}

.user-item__title {
  color: @color-darkpink;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 21px;
  margin-bottom: 16px;
}

.user-item__text {
  color: @blue-color;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 28px;
  padding-left: 22px;
  width: 276px;
  height: 60px;
}
