.user-data__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-data__button-form {
  color: @white-color;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid @junglegreen-color;
  background-color: @junglegreen-color;
  width: 280px;
  padding: 23px 45px;
  margin-bottom: 46px;

  &:hover {
    border: 2px solid @green-color;
    background-color: @green-color;
  }

  &:active {
    color: @silvertree-color;
  }
}

.user-data__legend {
  text-transform: uppercase;
  margin-bottom: 60px;
}
